/*
	Filename         : 	content.css
	Created by       : 	Owain Llewellyn
	Created          : 	xx/xx/2011
	Last Updated     : 	xx/xx/2011
	Comments         : 	Styling for _NAME_OF_PROJECT_
*/

/*  Style definitions specific to content page
************************************************************************************************************************/

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

h1 {
	font-size:;
	line-height:;
	color:;
}
h2 {
	font-size:;
	line-height:;
	color:;
}
h3 {
	font-size:;
	line-height:;
	color:;
}
h4 {
	font-size:;
	line-height:;
	color:;
}
h5 {
	font-size:;
	line-height:;
	color:;
}

h6 {
	font-size:;
	line-height:;
	color:;
}